/*Algemeen*/
/*Bron: in de les van Vasilis */
* {
    margin: 0;
    box-sizing: 0;
}

/*Lettertype*/
/*Bron: in de les van Vasilis */

@font-face {
    font-family: 'Libre Baskerville', serif;
    src: url(webfonts/Libre_Baskerville/LibreBaskerville-Bold.ttf);
}

@font-face {
    font-family: 'Abel', sans-serif;
    src: url(webfonts/Abel/Abel-Regular.ttf);
}

/*Navigatie*/
/*Flexbox*/
/*Bron: Powerpoint presentatie les 01, Brightspace*/
/*URL:https://dlo.mijnhva.nl/d2l/le/content/32112/viewContent/136903/View*/

/*Bron: FlexboxFroggy*/
/*URL:https://flexboxfroggy.com/#nl*/

/*Javascript*/
/*Bron: Powerpoint presentatie les 05, Brightspace*/
/*URL:https://docs.google.com/presentation/d/e/2PACX-1vQp_O6GKUfONEwcJj9F26KH05SKcet9lkwoZJQPEW77MefJGWLeF9EpEJ7dG5aQEdLy3ynvirxkyAnV/pub?start=false&loop=false&delayms=3000&slide=id.g118256c73c_0_151*/

/*Logo van AJGSnagelstudio*/
.logo {
    width: 10em;
}

/*SVG animatie*/
/*Bron: https://css-tricks.com/animating-svg-css/*/
svg {
    width: 10em;
    height: 10em;
}


.st6 {
    animation: animate 3s ease-out;

}

@keyframes animate {
    0% {
        opacity: 0;
    }
 
}

svg:first-of-type {
    padding-left: 1em;
    padding-top: 0em;
}

/*Afbeelding van hamburgermenu*/
.menu {
    width: 5em;
    height: 5em;
    padding-top: 3.5em;
}

a {
    color: black;
}

a:hover {
    color: red;
}

/*Grootte van header*/
#navigatie {
    display: flex;
    justify-content: space-between;
}

/*Hoe de menu types uit klappen van hamburgermenu*/
/*Javascript8?
/*Bron: Powerpoint presentatie les 05, Brightspace*/
/*URL:https://docs.google.com/presentation/d/e/2PACX-1vQp_O6GKUfONEwcJj9F26KH05SKcet9lkwoZJQPEW77MefJGWLeF9EpEJ7dG5aQEdLy3ynvirxkyAnV/pub?start=false&loop=false&delayms=3000&slide=id.g118256c73c_0_151*/
.hamburgermenu {
    border: solid black 0.1em;
    transform: translate(1em, -20em);
    position: absolute;
    right: 1em;
    background-color: white;
    transition: 0.3s cubic-bezier(.48, .58, .87, .14);
}

/*Tekst van menu*/
.hamburgermenu2 {
    text-align: right;
    color: black;
    text-decoration: underline;
    font-family: 'Libre Baskerville', serif;
}

/*Met muis erover heen*/
.hamburgermenu2:hover {
    transform: scale(1.1);
    color: red;
}

/*Class voor het uitkomen van afb JS*/
.showMenuknop {
    transform: translate(0);
}

/*Kop op afbeelding*/
h1 {
    text-align: center;
    color: red;
    font-size: 1em;
    text-shadow: 0.1em 0.1em 0.1em black;
    position: absolute;
    padding: 0.2em;

}

/*Afbeelding op home scherm*/
.IMGhome {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/*Boek een afspraak*/
.boek {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    border: solid red 0.1em;
    background-color: red;
    padding: 1em;
    margin: 1em 1em 1em 1em;
    font-family: 'Libre Baskerville', serif;
}

/*Als je erover heen gaat met je muis verandert het van kleur*/
.boek:hover {
    background-color: black;
    color: red;
    border: black;
    transform: rotate(180deg);
}

/*Welkoms tekst*/
#welkomhome {
    border: solid black 0.1em;
    margin: 1em;
    padding: 1em;
}

/*Tekst van welkom*/
h2 {
    font-weight: 400;
    font-size: 1.5em;
    color: red;
    text-shadow: 0.1em 0.1em 0.1em black;
    font-family: 'Libre Baskerville', serif;
}

#welkomtekst {
    font-family: 'Abel', sans-serif;
    column-width: 400px;
    letter-spacing: 1px;
}

/*Nagel behandelingen */
.nagelbehandeling {
    width: 100%;
}

/*Kader waar foto en tekst in staat*/
.articlenagelbehandeling {
    border: solid black 0.1em;
    margin: 1em 1em 1em 1em;

}

/*Kop van tekst*/
.kopnagelbehandeling {
    text-align: center;
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.1em red;
    font-family: 'Libre Baskerville', serif;
    padding: 0.5em;
}

/*Tekst in kader*/
.tekstnagelbehandeling {
    text-align: center;
    font-family: 'Abel', sans-serif;
    padding: 0.5em;
    letter-spacing: 1px;
}

/*Pedicure behandelingen*/
.pedicure {
    width: 100%;
}

/*Kader waar foto en tekst in staat*/
.articlepedicurebehandeling {
    border: solid black 0.1em;
    margin: 1em 1em 1em 1em;

}

/*Kop van tekst*/
.koppedicurebehandeling {
    text-align: center;
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.1em red;
    font-family: 'Libre Baskerville', serif;
    padding: 0.5em;
}

/*Tekst in kader*/
.tekstpedicurebehandeling {
    text-align: center;
    font-family: 'Abel', sans-serif;
    padding: 0.5em;
    letter-spacing: 1px;
}

/*Spa pedicure behandelingen*/
.spapedicure {
    width: 100%;
}

/*Kader waar foto en tekst in staat*/
.articlespapedicurebehandeling {
    border: solid black 0.1em;
    margin: 1em 1em 1em 1em;
}

/*Kop van tekst*/
.kopspapedicurebehandeling {
    text-align: center;
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.1em red;
    font-family: 'Libre Baskerville', serif;
    padding: 0.5em;
}

/*Tekst in kader*/
.tekstspapedicurebehandeling {
    text-align: center;
    font-family: 'Abel', sans-serif;
    padding: 0.5em;
    letter-spacing: 1px;
}


/*Formulier*/
/*Bron: brightspace les*/
form {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

form:valid {
    background-color: green;
}

form:invalid {
    background-color: red;
}

input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
}

input#vraag {
    height: 7em;
}

input:focus {
    background-color: yellow;
}


fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    background-color: black;
    ;
}

legend {
    font-weight: 800;
    font-size: 25px;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

label {
    color: white;
    font-family: 'Abel', sans-serif;
}

select {
    margin-bottom: 1em;
    font-size: 15px;
    background-color: white;
    color: black;
    width: 50%;
    height: 2em;
}


button {
    font-size: 1em;
    width: 7em;
    height: 2em;
    background-color: lightgrey;
    font-family: 'Libre Baskerville', serif;
}

div:nth-child(2) {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    padding: 1em;
}


/*Footer*/
svg:last-of-type {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

footer {
    display: flex;
    justify-content: space-around;

}

/*Grootte van footer*/
.overzicht {
    display: flex;
}

/*Het begin van tabel*/
ul {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

/*Alle woorden onder het kopje*/
li {
    list-style: none;
    margin: 1em 1em 1em 1em;
    font-family: 'Abel', sans-serif;
}

/*Kop van tekst Diensten*/
.Kop1 {
    font-size: 15pt;
    text-decoration: underline;
    font-family: 'Libre Baskerville', serif;
}

/*Kop van tekst Openingstijden*/
.Kop2 {
    font-size: 15pt;
    text-decoration: underline;
    font-family: 'Libre Baskerville', serif;
}

/*Streep tussen logo*/
.streep {
    width: 100%;
    height: 0.10em;
}



/*Responsive maken*/
/*Bron: W3schools*/
/*URL:https://www.w3schools.com/cssref/css3_pr_mediaquery.asp*/

@media screen and (min-width: 40em) {
    .Behandelingen {
        display: flex;
        flex-direction: row;
    }

    .menu {
        display: none;
    }

    .hamburgermenu {
        display: flex;
        border: none;
        transform: translate(0);
        position: absolute;
        top: 1em;


    }

    .hamburgermenu2 {
        justify-content: flex-end;

    }



}
